/*page accueil*/
body, html{
    font-family: helvetica, cursive;
    background-color: #fbfbfb;
    font-size: 20px;

}

a{
  color: black;/*nav bar link*/
}

@keyframes example{ /*The animation code*/
  0%   {background-image: url("../../assets/img/image-3.jpg");}
  100% {background-image: url("../../assets/img/image-3.jpg");}{background-image: url("../../assets/img/image-3.jpg");}
  from {background-image: url("../../assets/img/image-3.jpg");}
  to {background-image: url("../../assets/img/image-3.jpg");}
}

@keyframes example2{ /* The animation code */
  0%   {top: 0px; height: 0px;}
  100% {top: 0px; height: 65px;}

}
.jumbotron{ /*animation jumbotron*/
  background-image: url("../../assets/img/image-3.jpg");
}
#anim2{
  margin top: -20%
  animation: example2 4s;
  animation: example 4s;
}

#anim{  /*animation logo*/
  animation: example2 4s;
}
.anim3{
  animation: example2 4s;
  text-shadow:0 4px 0 red, 0  0 #ff4045;/*effect title*/
  font-family: 'Kanit', sans-serif;
}
h1{ /*animation title*/

  text-shadow:0 4px 0 red, 0  0 #ff4045;/*effect title*/
  font-family: 'Kanit', sans-serif;
}

/*carte*/
i{
font-family: 'Dancing Script', cursive;
font-size: 15px;
}

h2{
  text-align: center;
  margin-bottom: 5%;
}

.navbar{
  background-color: #fbfbfb;
}
