.fondacceuil{
  background-image: url("../../assets/img/burger-2811118_1920.jpg");
  font-size: 30px;
}

.fondmenu{
  background-image: url("../../assets/img/fondmenu.jpg");
}
body img{
  opacity: 0.5;
}
a{
  color: black;
}

header .navbar .navbar-expand-lg .navbar-default{
  color: black;
}

.navbar-item{
  color : black;
}
/* The animation code */
@keyframes example{
  0%   {background: white;}
  100% {background: black;}
  from {background-color: white;}
  to {background-color: black;}
}

@keyframes example2{
  0%   {top: 0px; height: 0px;}
  100% {top: 0px; height: 100px;}

}
.jumbotron{

  animation: example 4s;
  background-color: black;
}
#anim{
  animation: example2 4s;
}

.titre{
  animation: example2 4s;
}
/*effect title*/
h1{
  text-shadow:0 4px 0 red, 0  0 #ff4045;
}
.menu{
  margin-top: 20%;
}
